.about-section{
    margin-top: 1.3em;
    margin-bottom: 0;
    padding-top: 1.5em;
    padding-left: 3em;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #191719;

}

.about-content{
    margin-top: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   
}
.title-area{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0;
   
}


.about h1{
    margin: 0;
    font-size: 4em;
}


.inner-content{
    padding-left: 4em;
    width: 80%;
}


/* media queries */



@media screen and (min-width: 768px) and (max-width: 1300px) {
    .about-section{
        padding-bottom: 2em;
        
    }
    .verticle-text {
        margin-left: -2.7em;
    }
}
@media screen and (min-width: 368px) and (max-width: 767px) {
    .about-section{
        height: auto;
        padding-left: 0;
    }
    .verticle-text {
        margin-left: 0;
        transform: rotate(0deg);
    }
    .inner-content {
        padding-left: 0;
        width: 100%;
    }
    .title-area{
        flex-direction: column;
    }
}