.contact-section{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5em;
    height: 60vh;
    /* background-color: #000;; */
}
.contact-content{
    padding-top: 3em;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 368px) and (max-width: 767px) {
    .contact-content{
        width: 85%;
    }
    .contact-section{
        height: 100vh;
    }
}
